
@{
    ViewData["Title"] = "XML";
    string str = Environment.CurrentDirectory + "\\metadata.xml";
}
<h1>@ViewData["Title"]</h1>

<div>
    <a href="~/metadata_test.xml" rel="nofollow" target=_blank download="new.xml">download</a></div>


<object type="text/plain" data="~/metadata_txt.txt" height="500" width="100%"></object>
